<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sparkle</title>
  </head>

  <body>
    <header>
      <h1><a href="{{ url_for('index') }}">Sparkle</a></h1>
    </header>


    {% block main %}
    {% endblock %}

    <footer>
        <p>©2022 Zuzana Lysová</p>
      </footer>
    </body>
  </html>
